.App {
  padding: 2em;
}

.title {
  text-align: center;
  margin-bottom: 3em;
}

.forms-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  gap: 4em;
}

.form {
  border: solid 1px black;
  padding: 2em 3em;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.submit-btn {
  cursor: pointer;
}
